/* Write your CSS here */
.bg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.heading {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 22px;
}
.heading-ccbp {
  font-family: 'Roboto';
  font-size: 34px;
  color: #2b237c;
}
